<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>People</title>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">People</h1>
    </div>
    <div class="container">
        <form action="" method="post">
            <input th:field="${person.id}" type="hidden">
            <div>
                <label>First Name:</label>
                <input th:field="${person.firstName}" type="text">
            </div>
            <div>
                <label>Last Name:</label>
                <input th:field="${person.lastName}" type="text">

            </div>
            <div>
                <button class="button is-primary is-light">Submit</button>
            </div>
        </form>
    </div>
</section>

<section class="section">
    <div class="container">
    <h2 class="title">List of People</h2>
    <div class="container" th:each="storedPerson : ${people}">
        <span th:inline="text">
            <strong>Person #[[${storedPerson.id}]]:</strong> [[${storedPerson.firstName}]] [[${storedPerson.lastName}]]
        </span>
    </div>
    </div>
</section>
</body>
</html>



