<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Welcome</title>
</head>
<body>
<!--<h1>3 Different ways of injecting Thymeleaf into text</h1>-->
<!--<div>-->
<!--    <ol>-->
<!--        <li  th:inline="text">Welcome [[${firstName}]] [[${lastName}]]!</li>-->
<!--        <li th:text="'Why, hello there  ' + ${firstName} + ' ' + ${lastName} + '.'">Why, hellow place holder</li>-->
<!--        <li th:text="|Sup, ${firstName} ${lastName}?|">Bla bla bla></li>-->
<!--    </ol>-->
<!--</div>-->

<section class="section">
    <div class="container">
        <h1 class="title">Welcome</h1>
        <p class="subtitle">
            My first webapp using <strong>Bulma</strong>!
        </p>
    </div>

    <div class="container">
        <form action="" method="post">
            <div>
                <label for="">First Name:</label>
                <input th:field="${person.firstName}" type="text">
            </div>
            <div>
                <label for="">Last Name:</label>
                <input th:field="${person.lastName}" type="text">

            </div>
            <div>
                <button class="button is-primary is-light">Submit</button>
            </div>

        </form>

    </div>
</section>


</body>
</html>



